.image {
    cursor: pointer;
    object-fit: cover;
    width: 25vh;
    height: 25vh;
}

.header {
    display: grid;
    width: 100vw;
    height: 20vh;
    border-bottom: 2px solid black;
    background-color: #800020;
}

.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
    font-size: 5vh;
    text-align: center;
}

.nav-links {
    justify-content: space-evenly;
}

.nav-container {
    justify-content: space-evenly;
    align-self: end;
    position: sticky;
    top: 30;
}

.nav-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.7vh;
    transform: scale(1.1);
    transition: transform .2s;
}

.nav-text a {
    color: gold;
    text-decoration: none;
}

.username-display {
    display: flex;
    text-shadow: 0 0 2px black;
    font-size: 2vh;
    color: gold;
}

.App {
    text-align: center;
    margin-top: -1vh;
    margin-left: -.8vh;
    margin-right: 2vh;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0, 5vw, 0, 0;
    width: 100vw;
}

.tailgate-image {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
}

.about-page {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pfp {
    object-fit: cover;
    width: 28vw;
    height: 28vw;
    text-align: center;
    padding: 1vw;
    cursor: pointer;
  }